In [1]:
import pandas as pd
from data_profiler import DataProfiler

In [2]:
df1 = pd.read_csv('mock_data.csv')
df2 = df1.copy()
df2['Salary'] = df2['Salary'] * 1.1 
df2['JoinDate'] = pd.to_datetime(df2['JoinDate'])

In [3]:
# Initialize Profiler
profiler = DataProfiler([df1, df2])

In [22]:
config = {
    # Run on ALL columns
    "check_nulls": {"columns":['ID']},
    # Run ONLY on dataset_1
    "check_uniqueness": {"columns": ['ID'],"datasets": ['dataset_0']}
}
results = profiler.run_checks(check_config=config)

In [23]:
results['dataset_0']

    nulls_null_count  uniqueness_is_unique  uniqueness_duplicate_count
ID                 0                  True                           0

In [42]:
results['dataset_1']

    nulls_null_count
ID                 0